// .news-card {
//   transition: 10s linear all;
// }
// .news-card.active-add {
//   background:white;
// }
// .news-card.active {
//   background: yellow;
// }
// .news-card.active-remove {
//   background:black;
// }
