<div class="row" style="height : 5vh;">

</div>

<div class="signup-template">
  <div class="row">
    <form class="col s10 offset-s1 l6 offset-l3 signup-form" ng-submit="vm.saveUser()">
      <p>Who are ya?</p>
      <div class="row">
        <div class="input-field col s12">
          <input id="username" type="text" ng-model="vm.userData.username" class="validate">
          <label for="username">User Name</label>
        </div>
        <div class="input-field col s12">
          <input id="password" type="password" ng-model="vm.userData.password" class="validate">
          <label for="password">Password</label>
        </div>

      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="name" type="text" ng-model="vm.userData.name" class="validate">
          <label for="name">Name</label>
        </div>
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" ng-model="vm.userData.email">
          <label for="email">Email</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <select id="teamSelect" my-repeat-directive ng-model="vm.userData.teamPref">
            <option value="" disabled selected>Choose your team</option>
            <option ng-repeat="team in vm.teams | orderBy : 'name'" data-icon="{{team.crestUrl}}" class="left circle" ng-value="team.code" ng-bind="team.name"></option>
          </select>
        </div>
      </div>
      <button class="signup-submit btn waves-effect waves-light right" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
      <br>
    </form>
  </div>


</div>

<div class="row" style="height : 5vh;">

</div>
