<div class="">
  <div class="navbar-fixed sub-nav-container">
    <div class="sub-nav row">
      <div class="col s12">
        <nav class="sub-nav-nav">
          <ul class="tabs" style="box-shadow : 0 10px 25px rgba(0,0,0,.15);">
            <li ng-click="vm.log(main.val)" class="tab col s3" id="{{nav.id}}" ng-repeat="nav in vm.dashFrames" ><a class="white-text" href="#" ng-bind="nav.name" ng-click="vm.setActive(nav.id)"></a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

  <div class="dash-frames-container">
    <ng-include ng-repeat="frame in vm.dashFrames"  src="frame.href" ng-show="vm.activeFrame === frame.id">
      <!-- I think there's a better way to do this routing. It seems like it's rendering all of the frames at once,
        and then hiding / unhiding them. It would be better to only actually render one of the frames (so make the src something programmatic)
        8/11/16
      -->
    </ng-include>
  </div>

</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('ul.tabs').tabs();
  });
</script>
