<!DOCTYPE html>
<html ng-app="linkupApp">
  <head>
    <meta charset="utf-8">
    <title>Linkup Play</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/" target="_blank" />
    <!-- Pull in external libraries -->
      <!-- jQuery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js" charset="utf-8"></script>
      <!-- Angular -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js" charset="utf-8"></script>
        <!-- ngRoute -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-route.min.js" charset="utf-8"></script>
        <!-- Animate -->
        <script type="text/javascript" src="https://code.angularjs.org/1.5.0-rc.2/angular-animate.js"></script>
      <!-- Materialize -->
        <!-- Compiled and minified CSS -->
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
        <!-- Compiled and minified JavaScript -->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
        <!-- Materialize Icons -->
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- My styles -->
    <link rel="stylesheet" href="css/main.css" title="no title" charset="utf-8">

    <!-- My angular -->
    <script type="text/javascript" charset="utf-8" src="bundle.js"></script>

  </head>
  <body ng-controller="mainController as main">
    <!-- <div class="container"> -->
      <header>

        <div class="navbar-fixed"><!-- navbar fixed wrapper -->

        <nav class="blue-text">
          <div class="nav-wrapper">
            <a href="#" ng-click="main.hideNav()" class="left">LinkUp</a>
            <a href="#" data-activates="nav-mobile" class="button-collapse right"><i class="material-icons">menu</i></a>
            <!-- Non-mobile nav -->
            <ul id="" class="right hide-on-med-and-down">
              <li ng-if="!main.loggedIn"><a href="/">Login</a></li>
              <li ng-if="main.loggedIn">Hello {{main.user.name}}</li>
              <li ng-if="main.loggedIn"><a href="#" ng-click="main.doLogout()">Logout</a></li>
              <!-- <li ><a href="/about">About</a></li> removed for now; put it in later -->
              <li><a href="/dash">Dash</a></li>
            </ul>
            <!-- Mobile nav -->
            <ul id="nav-mobile" class="side-nav" ng-click="main.hideNav()">
              <li ng-if="!main.loggedIn"><a href="/">Login</a></li>
              <li ng-if="main.loggedIn" ng-click="vm.hideNav()">Hello {{main.user.name}}</li>
              <li ng-if="main.loggedIn"><a href="#" ng-click="main.doLogout()">Logout</a></li>
              <li ><a href="/about">About</a></li>
              <li><a href="/dash">Dash</a></li>
            </ul>
          </div>
        </nav>

      </div><!-- navbar fixed wrapper -->

      </header>

      <main ng-style="{'background-image' : 'url(' + main.bUrl() + ')'}">
        <div ng-view></div>
      </main>

      <div class="container">
        <footer class="page-footer">
          <div class="container">

          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 Copyright Text
            </div>
          </div>
        </footer>
      </div>

    <!-- </div> -->
  </body>
  <!-- materialize inits -->
  <script type="text/javascript">
    $( document ).ready(function(){
      $(".button-collapse").sideNav({
        edge : 'right'
      });
      $('ul.tabs').tabs();
    })
  </script>
</html>
